name: Pull Request

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

env:
  CHART_NAME: "application"

jobs:
  build:
    name: Build
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-ci]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          ref: ${{github.event.pull_request.head.sha}}
      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
      - name: Helm Lint
        run: |
          helm lint charts/${CHART_NAME}
          helm lint charts/${CHART_NAME} -f charts/${CHART_NAME}/values-test.yaml
      - name: Run Checkov
        uses: bridgecrewio/checkov-action@02a4c5d6a02367e5ea493c34c26b094302fd3f61 # v12.3075.0
        with:
          quiet: true
          soft_fail: false
          file: charts/${{ env.CHART_NAME }}/Chart.yaml
          var_file: charts/${{ env.CHART_NAME }}/values-test.yaml
      - name: Dry Run Chart
        run: |
          helm template ${CHART_NAME} charts/${CHART_NAME} -f charts/${CHART_NAME}/values-test.yaml --debug

  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          ref: ${{github.event.pull_request.head.sha}}
      - uses: d3adb5/helm-unittest-action@850bc76597579183998069830d5fa8c3ef0ea34a # v2
        with:
          charts: charts/application

